@import url("https://fonts.googleapis.com/css2?family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  background-color: #ce5c4d;
  font-family: "Supermercado One", cursive;
}

/*---------------------------------------------Header---------------------------------------------*/
header img {
  width: 350px;
  display: block;
  margin: 20px auto;
}

/*---------------------------------------------Footer---------------------------------------------*/
footer {
  width: 95%;
  padding: 5px;
  margin: auto;
  display: block;
  font-size: 18px;
  color: #1c1c1c;
  text-align: center;
  border-radius: 20px;
  background-color: #f7b267;
  font-family: "Patrick Hand", cursive;
}

footer a {
  color: #1c1c1c;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/*---------------------------------------------Container---------------------------------------------*/
.container {
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  align-content: center;
  grid-template: auto / auto auto;
}

/*---------------------------------------------Card---------------------------------------------*/
.card {
  width: 550px;
  margin: 30px auto;
  border-radius: 20px;
  display: inline-block;
  background-color: #e7e5b4;
  box-shadow: -15px -15px #f9c48b;
}

.card input {
  width: 480px;
  height: 40px;
  border: none;
  display: block;
  margin: 20px auto;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 10px;
  border-radius: 10px;
  background-color: rgba(206, 92, 77, 0.2);
}

.card input:focus {
  outline: none;
  background-color: rgba(206, 92, 77, 0.4);
}

.card-icons {
  text-align: center;
  border-radius: 20px;
}

.card-icons .active {
  background-color: rgba(107, 249, 75, 0.2);
}

.card-icons img {
  width: 70px;
  padding: 5px;
  margin: 0px 20px;
  border-radius: 20px;
  border: 2px solid #ce5c4d;
  background-color: rgba(206, 92, 77, 0.5);
}

.card-button {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.card-button button {
  border: none;
  width: 450px;
  height: 50px;
  font-size: 25px;
  color: #e7e5b4;
  border-radius: 20px;
  letter-spacing: 3px;
  text-decoration: none;
  background-color: #ce5c4d;
  font-family: "Patrick Hand", cursive;
}

.card-button button:focus {
  outline: none;
}

/*---------------------------------------------Result---------------------------------------------*/
.result {
  width: 550px;
  margin: 30px auto;
  border-radius: 20px;
  display: inline-block;
  background-color: #e7e5b4;
  box-shadow: 15px -15px #f9c48b;
}

.result-outputs-group {
  display: flex;
}

.result-outputs-group img {
  width: 50px;
  margin: auto;
  display: block;
}

.result-outputs-group p {
  width: 400px;
  height: 40px;
  display: block;
  margin: 22px auto;
  padding: 10px 10px;
  border-radius: 20px;
  background-color: rgba(206, 92, 77, 0.2);
}

.result-button button {
  border: none;
  width: 450px;
  height: 50px;
  display: block;
  font-size: 25px;
  color: #e7e5b4;
  margin: 20px auto;
  letter-spacing: 3px;
  border-radius: 20px;
  text-decoration: none;
  background-color: #ce5c4d;
  font-family: "Patrick Hand", cursive;
}

.result-button button:focus {
  outline: none;
}

/*---------------------------------------------Responsive---------------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 1180px) {
  /*---------------------------------------------Container---------------------------------------------*/
  .container {
    grid-template: auto auto / auto;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  /*---------------------------------------------Container---------------------------------------------*/
  .container {
    grid-template: auto auto / auto;
  }

  /*---------------------------------------------Card---------------------------------------------*/
  .card {
    width: 350px;
  }

  .card input {
    width: 300px;
  }

  .card-icons img {
    width: 50px;
    margin: 0px 10px;
  }

  .card-button button {
    width: 250px;
  }

  /*---------------------------------------------Result---------------------------------------------*/
  .result {
    width: 350px;
  }

  .result-outputs-group p {
    width: 250px;
  }

  .result-button button {
    width: 250px;
  }
}

@media screen and (max-width: 400px) {
  /*---------------------------------------------Header---------------------------------------------*/
  header img {
    width: 220px;
  }

  /*---------------------------------------------Container---------------------------------------------*/
  .container {
    grid-template: auto auto / auto;
  }

  /*---------------------------------------------Card---------------------------------------------*/
  .card {
    width: 250px;
  }

  .card input {
    width: 200px;
  }

  .card-icons img {
    width: 50px;
    margin: 10px 20px;
  }

  .card-button button {
    width: 200px;
    font-size: 20px;
  }

  /*---------------------------------------------Result---------------------------------------------*/
  .result {
    width: 250px;
  }

  .result-outputs-group {
    display: block;
  }

  .result-outputs-group p {
    width: 200px;
    text-align: center;
  }

  .result-outputs-group img {
    margin: 10px auto;
  }

  .result-button button {
    width: 200px;
    font-size: 20px;
  }
}
